.rootPane{
    /* Couleur */
    -fx-background-color: #ffeaca;
}

.ticTacToeGridPane{
    /* Bordure extérieur */
    -fx-background-color: #88453a;
}


.gameButton{
    /* Police */
    -fx-font-weight: bold;

    /* Taille */
    -fx-pref-width: infinity;
    -fx-pref-height: infinity;

    /* Couleur */
    -fx-border-color: transparent, transparent;
    -fx-background-color: #e1ad6d;

    /* Bordure */
    -fx-background-radius: 0px;
}

.button:focused{
    /* Pas d'effet de focus */
    -fx-border-color: transparent, transparent;
    -fx-background-insets: 0;
}

.gameButton:hover{
    -fx-background-color: #ba5a1b;
}


.gameButton.X{
    -fx-text-fill: #2196f3;
}

.gameButton.X:hover{
    -fx-background-color: #e1ad6d;
}

.gameButton.O{
    -fx-text-fill: #f44336;
}

.gameButton.O:hover{
    -fx-background-color: #e1ad6d;
}

.giveUpButton{
    -fx-background-color: e1ad6d;

    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #88453a;
}

.giveUpButton:hover{
    -fx-background-color: #ba5a1b;
}

.goBackButton{
    -fx-background-color: #88453a;

    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #e1ad6d;
}

.goBackButton:hover{
    -fx-background-color: #ba5a1b;
}


.blurOverlay{
    /* Flou */
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.gameWinnerAnnounce{
    /* Marges */
    -fx-alignment: "CENTER";
    -fx-spacing: 15.0
}

.gameWinnerLabel{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #88453a;
}

.playerNameLabel{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #88453a;
}